src/main/mule/payroll-gbr-put-payroll-payee-ni.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="47ffb091-e6c8-4f12-a8d3-6abf609f1c1a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties file="mule-app.properties"/>
	<workday:config-version-34-config name="Workday_Config_version_34" doc:name="Workday Config version 34" doc:id="63220581-77c3-4c98-b71c-dc12f92e3688" >
		<workday:basic-authentication-api-v34-connection userName="${workday.username}" password="${workday.password}" tenantName="${workday.tenantname}" hostName="${workday.hostname}" />
	</workday:config-version-34-config>
	<flow name="payroll-gbr-get-form" doc:id="713bc3e9-1752-433f-b2d8-afb4d59c3e66" >
		<http:listener config-ref="HTTP_Listener_config" path="/" doc:name="/" doc:id="a4769708-a7b3-40b4-961c-6104ac02d612" />
		<parse-template location="form.html" doc:name="Parse Template" doc:id="be0f09df-04d1-4fc4-a068-123800676de8" />
	</flow>
	<flow name="create-position" doc:id="c61dfb65-2a60-48b6-b9e5-deaf79da7b94" >
		<http:listener config-ref="HTTP_Listener_config" path="/create-position" doc:name="/create-position" doc:id="e2bfe765-5136-4605-a6ea-2709656a47e5" />
		<logger level="INFO" doc:name="Logger" doc:id="ae9dac6f-fed2-4571-ba17-0ee47006d690" />
		<ee:transform doc:name="Transform Message" doc:id="d1688064-f089-46de-9060-7f94d66babd6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Create_Position_Request @(ns0#version: "v28.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true,
			ns0#Run_Now: true
		},
		ns0#Create_Position_Data: {
			ns0#Supervisory_Organization_Reference: {
				ns0#ID @(ns0#"type":"Organization_Reference_ID"): payload.organizationReferenceID
			},
			ns0#Position_Data: {
				ns0#Job_Posting_Title: payload.jobPostingTitle
			},
			ns0#Position_Group_Restrictions_Data: {
				ns0#Availability_Date: payload.availabilityDate,
				ns0#Earliest_Hire_Date: payload.earliestHireDate
			},
			ns0#Edit_Assign_Organization_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Request_Default_Compensation_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			
			ns0#Assign_Pay_Group_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Assign_Costing_Allocation_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Create_Position_Request @(ns0#version: "v28.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true,
			ns0#Run_Now: true
		},
		ns0#Create_Position_Data: {
			ns0#Supervisory_Organization_Reference: {
				ns0#ID @(ns0#"type":"Organization_Reference_ID"): payload.organizationReferenceID
			},
			ns0#Position_Data: {
				ns0#Job_Posting_Title: payload.jobPostingTitle
			},
			ns0#Position_Group_Restrictions_Data: {
				ns0#Availability_Date: payload.availabilityDate,
				ns0#Earliest_Hire_Date: payload.earliestHireDate
			},
			ns0#Edit_Assign_Organization_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Request_Default_Compensation_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			
			ns0#Assign_Pay_Group_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Assign_Costing_Allocation_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:staffing doc:name="Staffing || Create_Position" doc:id="d72b57b3-e742-4d65-bb7d-0bdd7c4d681c" config-ref="Workday_Config_version_34" operation="Create_Position"/>
		<ee:transform doc:name="Transform Message" doc:id="b79cdf0a-0b40-4dc2-9ab8-161b2bda39b3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID: payload.ns0#Create_Position_Response.ns0#Position_Reference.*ns0#ID[1]
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="25f5342a-19cb-4d37-9977-ee8ab1f000b1" />
	</flow>
	<flow name="create-applicant" doc:id="0c172cd7-ec55-4ff9-9573-24d6d7f4f7eb" >
		<http:listener config-ref="HTTP_Listener_config" path="/putApplicant" doc:name="/putApplicant" doc:id="279a3e78-5f9a-43ef-8424-3d4c7ce73200" />
		<logger level="INFO" doc:name="Logger" doc:id="6bbb0aeb-e452-4174-953b-9782a45f235a" />
		<ee:transform doc:name="Transform Message" doc:id="6284f202-c1db-4a1e-bff8-e2beffeae823" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Put_Applicant_Request @(ns0#version: "v28.0"): {
		ns0#Applicant_Data: {
			ns0#Personal_Data: {
				ns0#Name_Data: {
					ns0#Legal_Name_Data: {
						ns0#Name_Detail_Data: {
							ns0#Country_Reference: {
								ns0#ID @(ns0#"type": "ISO_3166-1_Alpha-2_Code"): payload.countryIDValue
							},
							ns0#First_Name: payload.firstName,
							ns0#Last_Name: payload.lastName
						}
					}
				},
				ns0#Contact_Data: {
					ns0#Email_Address_Data: {
						ns0#Email_Address: payload.email,
						ns0#Usage_Data @(ns0#Public: true): {
							ns0#Type_Data @(ns0#Primary: true): {
								ns0#Type_Reference: {
									ns0#ID @(ns0#"type": "Communication_Usage_Type_ID"): "Home"
								}
							}
						}
					}
				}
			},
			ns0#Recruiting_Data: {
				ns0#Ineligible_for_Hire: false,
				ns0#Positions_Considered_for_Reference: {
					ns0#ID @(ns0#"type": "Position_ID"): payload.applicantPositionIDValue
				}
			},
			ns0#Background_Check_Data: {
				ns0#Status_Date: payload.statusDate,
				ns0#Status_Reference: {
					ns0#ID @(ns0#"type": "Background_Check_Status_ID"): payload.backgroundCheckStatusIDValue
				}
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Put_Applicant_Request @(ns0#version: "v28.0"): {
		ns0#Applicant_Data: {
			ns0#Personal_Data: {
				ns0#Name_Data: {
					ns0#Legal_Name_Data: {
						ns0#Name_Detail_Data: {
							ns0#Country_Reference: {
								ns0#ID @(ns0#"type": "ISO_3166-1_Alpha-2_Code"): payload.countryIDValue
							},
							ns0#First_Name: payload.firstName,
							ns0#Last_Name: payload.lastName
						}
					}
				},
				ns0#Contact_Data: {
					ns0#Email_Address_Data: {
						ns0#Email_Address: payload.email,
						ns0#Usage_Data @(ns0#Public: true): {
							ns0#Type_Data @(ns0#Primary: true): {
								ns0#Type_Reference: {
									ns0#ID @(ns0#"type": "Communication_Usage_Type_ID"): "Home"
								}
							}
						}
					}
				}
			},
			ns0#Recruiting_Data: {
				ns0#Ineligible_for_Hire: false,
				ns0#Positions_Considered_for_Reference: {
					ns0#ID @(ns0#"type": "Position_ID"): payload.applicantPositionIDValue
				}
			},
			ns0#Background_Check_Data: {
				ns0#Status_Date: payload.statusDate,
				ns0#Status_Reference: {
					ns0#ID @(ns0#"type": "Background_Check_Status_ID"): payload.backgroundCheckStatusIDValue
				}
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:staffing doc:name="Staffing || Put_Applicant" doc:id="f3e6751b-e3e8-451e-bda9-bfe9f7b73a33" config-ref="Workday_Config_version_34" operation="Put_Applicant"/>
		<ee:transform doc:name="Transform Message" doc:id="fe04403f-82fb-4cd3-8af2-3df5725f5127" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID: payload.ns0#Put_Applicant_Response.ns0#Applicant_Reference.*ns0#ID[1]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="44076929-6759-465c-afaf-4971d3b06662" />
	</flow>
	<flow name="hire-employee" doc:id="a15b969f-c2c9-401c-a471-2a5fc7206955" >
		<http:listener config-ref="HTTP_Listener_config" path="/hire-employee" doc:name="/hire-employee" doc:id="325682aa-26d6-4ca5-817b-c69deca87afd" />
		<logger level="INFO" doc:name="Logger" doc:id="48ee5faf-d874-4870-b14c-b26fbbc55783" />
		<ee:transform doc:name="Transform Message" doc:id="c0aad415-0f66-4b41-906f-be25941bdfd8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Hire_Employee_Request @(ns0#version: "v28.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Hire_Employee_Data: {
			ns0#Applicant_Reference: {
				ns0#ID @(ns0#"type": "Applicant_ID"): payload.applicantIDValue
			},
			ns0#Organization_Reference: {
				ns0#ID @(ns0#"type": "Organization_Reference_ID"): payload.organizationReferenceIDValue
			},
			ns0#Position_Reference: {
				ns0#ID @(ns0#"type": "Position_ID"): payload.positionIDValue
			},
			ns0#Hire_Date: payload.hireDate,
			ns0#Hire_Employee_Event_Data: {
				ns0#Employee_Type_Reference: {
					ns0#ID @(ns0#"type": "Employee_Type_ID"): payload.employeeTypeIDValue
				},
				ns0#Position_Details: {
					ns0#Job_Profile_Reference: {
						ns0#ID @(ns0#"type": "Job_Profile_ID"): payload.jobProfileIDValue
					},
					ns0#Location_Reference: {
						ns0#ID @(ns0#"type": "Location_ID"): payload.locationIDValue
					},
					ns0#Position_Time_Type_Reference: {
						ns0#ID @(ns0#"type": "Position_Time_Type_ID"): payload.positionTimeTypeIDValue
					}
				}
			},
			ns0#Propose_Compensation_for_Hire_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Auto_Complete: true
				}
			},
			ns0#Update_ID_Information_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Government_IDs_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Passports_and_Visas_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_License_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Custom_IDs_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Assign_Organization_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Assign_Pay_Group_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Review_Payroll_Interface_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Request_One_Time_Payment_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Request_Stock_Grant_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Create_Workday_Account_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Assign_Matrix_Organization_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Change_Personal_Information_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Create_Provisioning_Event_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Create_Benefit_Life_Event_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Maintain_Employee_Contracts_Sub_Business_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Service_Dates_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Remove_Retiree_Status_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			
			ns0#Check_Position_Budget_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Assign_Costing_Allocation_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Background_Check_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Add_Academic_Appointment_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Assign_Employee_Collective_Agreement_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Hire_Employee_Request @(ns0#version: "v28.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Hire_Employee_Data: {
			ns0#Applicant_Reference: {
				ns0#ID @(ns0#"type": "Applicant_ID"): payload.applicantIDValue
			},
			ns0#Organization_Reference: {
				ns0#ID @(ns0#"type": "Organization_Reference_ID"): payload.organizationReferenceIDValue
			},
			ns0#Position_Reference: {
				ns0#ID @(ns0#"type": "Position_ID"): payload.positionIDValue
			},
			ns0#Hire_Date: payload.hireDate,
			ns0#Hire_Employee_Event_Data: {
				ns0#Employee_Type_Reference: {
					ns0#ID @(ns0#"type": "Employee_Type_ID"): payload.employeeTypeIDValue
				},
				ns0#Position_Details: {
					ns0#Job_Profile_Reference: {
						ns0#ID @(ns0#"type": "Job_Profile_ID"): payload.jobProfileIDValue
					},
					ns0#Location_Reference: {
						ns0#ID @(ns0#"type": "Location_ID"): payload.locationIDValue
					},
					ns0#Position_Time_Type_Reference: {
						ns0#ID @(ns0#"type": "Position_Time_Type_ID"): payload.positionTimeTypeIDValue
					}
				}
			},
			ns0#Propose_Compensation_for_Hire_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Auto_Complete: true
				}
			},
			ns0#Update_ID_Information_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Government_IDs_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Passports_and_Visas_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_License_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Custom_IDs_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Assign_Organization_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Assign_Pay_Group_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Review_Payroll_Interface_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Request_One_Time_Payment_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Request_Stock_Grant_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Create_Workday_Account_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Assign_Matrix_Organization_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Change_Personal_Information_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Create_Provisioning_Event_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Create_Benefit_Life_Event_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Maintain_Employee_Contracts_Sub_Business_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Service_Dates_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Remove_Retiree_Status_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			
			ns0#Check_Position_Budget_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Assign_Costing_Allocation_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Edit_Background_Check_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Add_Academic_Appointment_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			},
			ns0#Assign_Employee_Collective_Agreement_Sub_Process: {
				ns0#Business_Sub_Process_Parameters: {
					ns0#Skip: true
				}
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:staffing doc:name="Staffing || Hire_Employee" doc:id="28dfa4bf-5ff1-4096-bc5f-b253f957c3f4" config-ref="Workday_Config_version_34" operation="Hire_Employee"/>
		<ee:transform doc:name="Transform Message" doc:id="360a96c4-4ca2-4d77-965c-0154f1e2384b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID: payload.ns0#Hire_Employee_Event_Response.ns0#Employee_Reference.*ns0#ID[1]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bd270ff0-d3b6-480c-a48e-d49cae6fff51" />
	</flow>
	<flow name="put-payroll-payee-ni" doc:id="14253113-2a07-49d9-8d03-b9bf2e317213" >
		<http:listener config-ref="HTTP_Listener_config" path="/put-payee-ni" doc:name="/put-payee-ni" doc:id="58b3b248-4569-4290-8bda-58981a8b2142" />
		<logger level="INFO" doc:name="Logger" doc:id="982be986-cd5f-4fc3-b031-0541bc2997d2" />
		<ee:transform doc:name="Transform Message" doc:id="7f0fe86a-d863-49ef-958d-8cf1c15e7cfc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Put_Payroll_Payee_NI_Request @(ns0#version: "v28.0"): {
		ns0#Payroll_Payee_NI_Data: {
			ns0#Worker_Reference: {
				ns0#ID @(ns0#"type": "Employee_ID"): payload.employeeIDValue
			},
			ns0#Effective_As_Of: payload.effectiveDate,
			ns0#Company_Reference: {
				ns0#ID @(ns0#"type": "Company_Reference_ID"): payload.companyReferenceIDValue
			},
			ns0#NI_Category_Reference: {
				ns0#ID @(ns0#"type": "NI_Category_Letter"): payload.niCategoryReferenceIDValue
			},
			ns0#Calculation_Method_Reference: {
				ns0#ID @(ns0#"type": "Payroll_Constant_Text_ID"): payload.calculationMethodIDValue
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Put_Payroll_Payee_NI_Request @(ns0#version: "v28.0"): {
		ns0#Payroll_Payee_NI_Data: {
			ns0#Worker_Reference: {
				ns0#ID @(ns0#"type": "Employee_ID"): payload.employeeIDValue
			},
			ns0#Effective_As_Of: payload.effectiveDate,
			ns0#Company_Reference: {
				ns0#ID @(ns0#"type": "Company_Reference_ID"): payload.companyReferenceIDValue
			},
			ns0#NI_Category_Reference: {
				ns0#ID @(ns0#"type": "NI_Category_Letter"): payload.niCategoryReferenceIDValue
			},
			ns0#Calculation_Method_Reference: {
				ns0#ID @(ns0#"type": "Payroll_Constant_Text_ID"): payload.calculationMethodIDValue
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:payroll-gbr doc:name="Payroll gbr || Put_Payroll_Payee_NI" doc:id="f256f940-2a54-4e60-8837-e56cc250f4ce" config-ref="Workday_Config_version_34" operation="Put_Payroll_Payee_NI"/>
		<ee:transform doc:name="Transform Message" doc:id="23390194-d6e8-4e60-ae33-3d4bb349d361" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID: payload.ns0#Put_Payroll_Payee_NI_Response.ns0#Payroll_Payee_NI_Reference.*ns0#ID[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4beddd9e-f381-4a6c-8de7-16eaa8706213" />
	</flow>
	<flow name="get-payroll-payee-ni" doc:id="ace52d18-1ff6-4273-80db-0b0c8f84b106" >
		<http:listener config-ref="HTTP_Listener_config" path="/get-payee-ni" doc:name="/get-payee-ni" doc:id="6502bf5d-5db2-4d4a-99ad-0f6bf3f53da7" />
		<logger level="INFO" doc:name="Logger" doc:id="82fda136-2b32-400f-88bb-db3a6b1785c9" />
		<ee:transform doc:name="Transform Message" doc:id="62722a24-d58f-4eda-837c-1ced1b7e216e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Get_Payroll_Payee_NIs_Request @(ns0#version: "v28.0"): {
		ns0#Request_References: {
			ns0#Payroll_Payee_NI_Reference: {
				ns0#ID @(ns0#"type": "WID"): payload.payrollPayeeNIReferenceID
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Get_Payroll_Payee_NIs_Request @(ns0#version: "v28.0"): {
		ns0#Request_References: {
			ns0#Payroll_Payee_NI_Reference: {
				ns0#ID @(ns0#"type": "WID"): payload.payrollPayeeNIReferenceID
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:payroll-gbr doc:name="Payroll gbr || Get_Payroll_Payee_NIs" doc:id="a316aa58-63ad-40c9-acbb-706cfcf8f2b6" config-ref="Workday_Config_version_34" operation="Get_Payroll_Payee_NIs"/>
		<ee:transform doc:name="Transform Message" doc:id="8f7f113c-4d3c-48fa-9a6f-f0c31de0ef44" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	EmployeeID : "Employe ID: " ++ payload.ns0#Get_Payroll_Payee_NIs_Response.ns0#Response_Data.ns0#Payroll_Payee_NI.ns0#Payroll_Payee_NI_Data.ns0#Worker_Reference[1]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1685580c-3b00-45ec-9d34-69ff66405803" />
	</flow>
</mule>
